@import "tailwindcss";

@theme {
  --color-indigo-deep: #363b6c;
  --color-lavender: #eaedfe;
  --color-violet-soft: #a8a3e3;
  --color-periwinkle: #c6c9e7;
  --color-violet-cta: #7c75d8;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #eaedfe;
  font-family: 'Inter', sans-serif;
}